################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningEntityFrameworkCore/.vs/LearningEntityFrameworkCore/FileContentIndex
